DATABASE_URL=postgresql://neondb_owner:npg_XQofaGxP32bI@ep-winter-wind-a1us4ge2-pooler.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
JWT_SECRET=4qNRtWYzZ5o9L3a0BQFKMmnEkrHSTkBzeIzqOOKgAXgx8IopHAXfqmeacgr6Pf6iGjyzxUjf+qZ7LvCh6/G+tg==

PORTSIP_DOMAIN=
PORTSIP_TRANSPORT=TLS
PORTSIP_PORT=5061
